@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Saberin Challenge</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Resource</h2>
        <p>
            Resources used for this project.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Microsoft &raquo;</a></p>
        
    </div>
    <div class="col-md-6">
        <h2>Resource</h2>
        <p>Resources used for this project.</p>
        <p><a class="btn btn-default" href="https://www.entityframeworktutorial.net/code-first/code-first-conventions.aspx">EF tutorial &raquo;</a></p>
    </div>
</div>